<h1>Publications</h1>

<% @publications.each do |publication| %>

  <ul class="ul_no_pad">
    <li class="no-bullet"><%= link_to publication.name, publication_path(publication), class: "btn btn-primary" %></li>
  </ul>

<% end %>
