h1 Thank you for visiting!

h2 About this site

h2 How to Use This Site

h2 Contact
p If you have suggestions on what would make this site better,

h2 Support
p A few people have asked if they can help support the site financially. That would be great!
p

p Please note, categorizing the writings of the Faith is sort of an act of interpretation
| So, the categorizations here are just one person's opinion.
