h1 Thank you for visiting!

p This site is a humble work in progress. The ultimate goal is to make it easier to navigate the writings of the Bahá’í Faith, and to learn from the process of categorization them.

p If you have suggestions on what would make this site better, I'd love to hear them.

h2 Support
p A few people have asked if they can help support the site financially. That would be great!
p

p Please note, categorizing the writings of the Faith is sort of an act of interpretation
| So, the categorizations here are just one person's opinion.
