


<div class="concepts-search">
  <input type="text" id="concepts-search-txt" placeholder="What would you like to explore" class="form-control main-search" autofocus>
  <div class="results" id="concepts-search-results"></div>
</div>
