@import 'bootstrap-sprockets';
@import 'bootstrap';


.ul_no_pad { padding-left: 0px;}
.no-bullet {list-style-type: none; padding-left: 0px;}
.column-center { width: 300px; margin: 0px auto; }
.center-button { display: block; margin: 0px auto; max-width: 200px;  }

.footer-nav {  }
