@import 'bootstrap';

.ul_no_pad { padding-left: 0px;}
.no-bullet {list-style-type: none; padding-left: 0px;}
.column-center { width: 300px; margin: 0px auto; }

@media (min-width: 600px) {
  .btn-container {
    max-width: 80%;
    margin: 0 auto;
  }
}

.hide-btn, .hide-form {
  display: none;
}

.concept-btn {
  margin: 5px;
}

span.glyphicon {
  font-size: 1.5em;
}

.ministry {
  margin-left: 60px;
}
